<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}
            <div class="col-md-3">
                <div class="card" style="width: 11rem;">
                    <img class="card-img-top" style="height: 8rem;" src="/product-image/{{this._id}}.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"> {{this.Name}} </h5>
                        <p class="card-text">Rs - {{this.Price}} </p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>